$black: #222222;
$white: #ffffff;
$red: #dd4343;
$gray: #f5f5f5;

$vk_bg: rgba(72, 114, 163, 1);
$twitter_bg: rgba(29, 161, 242, 1);
$instagram_bg: rgba(108, 39, 179, 1);
$youtube_bg: rgba(212, 36, 40, 1);
$facebook_bg: rgba(59, 89, 152, 1);

$primary-text: $white;
$primary-active-elements: $red;
$primary-alert: $red;
$secondary-black: $black;
$secondary-text: $black;
$secondary-accent-1: $gray;
