html,
body {
  /* height: 100%;
  display: flex;
  flex-direction: column; */
  margin: 0;
}

.Text {
  &_Right {
    text-align: right;
  }

  &_Center {
    text-align: center;
  }

  &_Left {
    text-align: left;
  }

  &_Uppercase {
    text-transform: uppercase;
  }
}

img {
  width: 100%;
}

/* .Container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;

  &-Outer {
    padding-top: 30px;
    padding-bottom: 30px;
  }
} */
.Container {
  width: 100%;
  padding-right: 50px;
  padding-left: 50px;
  margin-right: auto;
  margin-left: auto;
}
