.Menu {
  display: flex;
  justify-content: flex-end;

  &-Item {
    margin-left: 40px;
    /* pointer-events: none; */

    &:first-child {
      margin-left: 0;
    }
  }

  &-Link {
    color: $primary-text;
    transition: color 0.2s ease;

    &:hover {
      color: $primary-active-elements;
    }
  }
}

.MobileMenu-Button {
  display: none;
}
