.Menu {
  display: flex;
  justify-content: flex-end;

  &-Item {
    margin-left: 40px;

    &:first-child {
      margin-left: 0;
    }
  }

  &-Link {
    color: $primary-text;
  }
}

.MobileMenu-Button {
  display: none;
}
