.Header {
  height: 100px;
  align-items: center;

  &-Outer {
    background-color: #222;
    position: fixed;
    background-color: transparent;
    z-index: 2;
  }

  &_Fixed {
    background-color: $secondary-black;

    & > .Header {
      height: 70px;
    }

    & .Logo-Img {
      width: 168px;
    }
  }
}
