section.Contacts.Container.Section.Section_Last.Text_Center
  p Присоединяйся к нашему дружному сообществу!
  p Следи за новостями, отчетами о днях давно минувшего будущего!
  .Socials
    div.Socials-Wrapper.Socials-Wrapper_VK
      img.Socials-Icon(src="./images/vk.png", alt="vk")
    div.Socials-Wrapper.Socials-Wrapper_FB
      img.Socials-Icon(src="./images/facebook.png", alt="facebook")
    div.Socials-Wrapper.Socials-Wrapper_IN
      img.Socials-Icon(src="./images/instagram.png", alt="instagram")
    div.Socials-Wrapper.Socials-Wrapper_YT
      img.Socials-Icon(src="./images/youtube.png", alt="youtube")
    div.Socials-Wrapper.Socials-Wrapper_TW
      img.Socials-Icon(src="./images/twitter.png", alt="twitter")
  p Студклуб ждет тебя!