section#Foto.Container.Section
  h3.Section-Title.Text_Uppercase ФОТО
  .Fotoes.Block.No-Gutters
    img.Fotoes-Img(src="./images/foto_01.jpg" alt="foto")
    img.Fotoes-Img(src="./images/foto_02.jpg" alt="foto")
    img.Fotoes-Img(src="./images/foto_03.jpg" alt="foto")
    img.Fotoes-Img(src="./images/foto_04.jpg" alt="foto")
    img.Fotoes-Img(src="./images/foto_05.jpg" alt="foto")
    img.Fotoes-Img(src="./images/foto_06.jpg" alt="foto")
    img.Fotoes-Img(src="./images/foto_07.jpg" alt="foto")
    img.Fotoes-Img(src="./images/foto_08.jpg" alt="foto")
    img.Fotoes-Img(src="./images/foto_01.jpg" alt="foto")
    img.Fotoes-Img(src="./images/foto_02.jpg" alt="foto")
    img.Fotoes-Img(src="./images/foto_03.jpg" alt="foto")
    img.Fotoes-Img(src="./images/foto_04.jpg" alt="foto")
    img.Fotoes-Img(src="./images/foto_05.jpg" alt="foto")
    img.Fotoes-Img(src="./images/foto_06.jpg" alt="foto")
    img.Fotoes-Img(src="./images/foto_07.jpg" alt="foto")
    img.Fotoes-Img(src="./images/foto_08.jpg" alt="foto")
