mixin menu-item(text, anchor)
  li.Menu-Item
    a.Menu-Link.Menu-Link_Active.Text_Uppercase(href="#" + anchor data-to-block-id=anchor)= text

header#Header.Header-Outer.Container
  .Header.Block.No-Gutters
    .Logo.ColLg4
      a(href="#")
        img.Logo-Img(src="/images/logo.png", alt="студклуб логотип")
    nav.Nav.ColLg8
      span.MobileMenu-Button
        span ICON MENU
        //i.fas.fa-bars
      ul.Menu
        +menu-item("О нас", "About")
        +menu-item("Афиша", "Events")
        +menu-item("ФОточки", "Foto")
        +menu-item("Контакты", "Contacts")
